<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tic-tac-toe</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Pentiminax</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="gamesDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Jeux
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="gamesDropdown">
                            <li><a class="dropdown-item" href="/games/tic-tac-toe">Morpion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container mt-5" id="main-div">
        <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3">

                <div class="alert d-none" role="alert" id="turn-message"></div>

                <div class="card mb-3" id="user-card">
                    <div class="card-body">

                        <form method="POST" id="formWolf">
                            <div class="mb-3">
                                <img src="/images/village.png" style="max-width: 100%; height: auto;">
                                <label for="username" class="form-label">Nom d'utilisateur pour loup-garou</label>
                                <input type="text" class="form-control" id="username" minlength="2" maxlength="20"
                                    placeholder="Saisir votre nom d'utilisateur" required>
                            </div>
                            <button class="btn btn-primary" id="start" type="submit">Créer un salon privée</button>
                        </form>

                    </div>
                </div>

                <div class="card mb-3 d-none" id="rooms-card">
                    <div class="card-header">Salons disponibles</div>
                    <ul class="list-group list-group-flush" id="rooms-list"></ul>
                </div>

                <div class="d-none" id="waiting-area">
                    <div class="card mb-3">
                        <div class="card-header">En attente d'un autre joueur</div>
                        <div class="card-body mx-auto">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body text-center">
                            Partage ce lien pour inviter quelqu'un à jouer avec toi
                            <span id="link-to-share"></span>
                        </div>
                    </div>
                </div>



    <!-- Conteneur pour les rôles des joueurs -->
    <div id="players-container">
        <p id="player1-role" class="role-text d-none"><Table>Ton rôle pour la partie</Table></p>
        <!-- Exemple de structure pour un joueur -->
        <div id="player1-container" class="player-container">
            <h1>La journée a commencé</h1>
            <img id="role-loup" width="800" height="500" name="Loup-Garou" src="/images/loup.png"></img>
            <img id="role-voyante" width="800" height="500" name="Voyante" src="/images/voyante.png"></img>
            <img id="role-villageois" width="800" height="500" name="Villageois 1" src="/images/villageois.png"></img>
            <img id="role-villageois2" width="800" height="500" name="Villageois 2" src="/images/villageois.png"></img>
            <img id="role-sorciere" width="800" height="500" name="Sorcière" src="/images/sorciere.png"></img>            
            <p id="player1-username" class="username"></p>
        </div>
        <p id="player1-role" class="role-text d-none"><Table>Retiens le bien ! Début de partie dans 10 secondes</Table></p>
    </div>

    <div id="cellier">
        <h1>La journée a commencé</h1>
        <p id="player1-role" class="role-text d-none"><Table>Bienvenue à Thiercelleux</Table></p>
        <p id="player1-role" class="role-text d-none"><Table>C'est la fête mais la nuit tombe bientôt réveillant un monstre terrible...</Table></p>
        <!-- Exemple de structure pour un joueur -->
        <div id="player1-container" class="player-container">
            <img id="img-village" width="800" height="500" name="cellier" src="/images/cellier.png"></img>          
        </div>
    </div>

    
    <div id="loupNuit">
        <h1>La nuit est tombée</h1>
        <p id="player1-role" class="role-text d-none"><Table>La nuit réveille en vous</Table></p>
        <p id="player1-role" class="role-text d-none"><Table>Des appétits féroces...</Table></p>
        <p id="player1-role" class="role-text d-none"><Table>Quel villageois subira votre rage ?</Table></p>
        <div id="player1-container" class="player-container">
            <img id="img-loup-nuit" width="800" height="500" name="loupNuit" src="/images/imageLoupNuit1.png"></img>          
        </div>
        <div id="button-container"></div>
    </div>

    <div id="dodo">
        <h1>La nuit est tombée</h1>
        <p id="player1-role" class="role-text d-none"><Table>Vous dormez tranquillement</Table></p>
        <p id="player1-role" class="role-text d-none"><Table>du moins pour l'instant...</Table></p>
        <div id="player1-container" class="player-container">
            <img id="img-loup-nuit" width="800" height="500" name="loupNuit" src="/images/dodo.png"></img>          
        </div>
    </div>

    <div id="dodoLoup">
        <h1>La nuit est tombée</h1>
        <p id="player1-role" class="role-text d-none"><Table>Vous avez bien mangé</Table></p>
        <p id="player1-role" class="role-text d-none"><Table>C'est le ventre bien rempli que vous vous rendormez</Table></p>
        <div id="player1-container" class="player-container">
            <img id="img-loup-nuit" width="800" height="500" name="dodoLoup" src="/images/loupQuiDort.png"></img>          
        </div>
    </div>

    <div id="sorcierePower">
        <h1>La nuit est tombée</h1>
        <p id="player1-role" class="role-text d-none"><Table>Un villageois a été dévoré cette nuit</Table></p>
        <p id="player1-role" class="role-text d-none"><Table>Cette âme est elle digne de recevoir votre pouvoir ?</Table></p>
        <div id="player1-container" class="player-container">
            <img id="img-loup-sorciere" width="800" height="500" name="sorcierePower" src="/images/sorcierePower.png"></img>          
        </div>
        <div id="button-container-sorciere"></div>
    </div>

    <div id="mangeParLoup">
        <h1>La nuit est tombée et le jour ne reviendra jamais pour vous</h1>
        <p id="player1-role" class="role-text d-none"><Table>Vous avez été mangé par le loup</Table></p>
        <p id="player1-role" class="role-text d-none"><Table>Vous serez peut-être vengé peut-être...</Table></p>
        <div id="player1-container" class="player-container">
            <img id="img-mange-par-loup" width="800" height="500" name="mangeLoup" src="/images/mangeParLoup.png"></img>          
        </div>
    </div>



                <div class="card d-none" id="game-card">
                    <div class="card-header">
                        Tic-tac-toe
                    </div>
                    <div class="card-body mx-auto">
                        <table class="board">
                            <tr>
                                <td class="cell" id="cell-1-1"></td>
                                <td class="cell" id="cell-1-2"></td>
                                <td class="cell" id="cell-1-3"></td>
                            </tr>

                            <tr>
                                <td class="cell" id="cell-2-1"></td>
                                <td class="cell" id="cell-2-2"></td>
                                <td class="cell" id="cell-2-3"></td>
                            </tr>

                            <tr>
                                <td class="cell" id="cell-3-1"></td>
                                <td class="cell" id="cell-3-2"></td>
                                <td class="cell" id="cell-3-3"></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="text-center d-none mt-2" id="restart-area">
                    <input class="btn btn-primary" id="restart" type="button" value="Rejouer">
                </div>

            </div>
        </div>
    </div>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>

</body>

</html>